{% extends 'root.html' %}

{% block title %}Vacancies List{% endblock %}

<div>
    {% block content %}
    <aside>
        <!--        <form class="d-flex " role="search" method="get" action="{% url 'vacancies:search' %}">-->
        <!--            {% csrf_token %}-->
        <!--            <input class="form-control" type="search" name="q" placeholder="Search" aria-label="Поиск">-->
        <!--            <button class="btn btn-outline-success w-25" type="submit">Ok</button>-->
        <!--        </form>-->

        <form class="" action="{% url 'vacancies:vac_list' %}" method="GET">
            <button class="btn btn-primary w-75 rounded-end-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Категории
                <span>
                    <button class="btn btn-danger rounded-start-0 w-25">
                        X
                    </button>
                </span>
            </button>


            <div class="collapse mt-1" id="collapseExample">
                <div class="card ps-1 pe-1 pb-1">
                    {% for category in categories %}
                    <input class="btn btn-primary mt-1" type="submit" name="category" value="{{ category.title }}">
                    {% endfor %}
                </div>
            </div>
        </form>

        <form class="d-flex mt-3" action="{% url 'vacancies:vac_list' %}" method="GET">
            <input class="form-control w-75 rounded-end-0" type="number" name="min_price" placeholder="З/п от:">
            <input class="btn btn-primary w-25 rounded-start-0" type="submit" value="OK">
        </form>

        <!--        <form action="{% url 'vacancies:vac_list' %}" method="GET">-->
        <!--            <input class="btn btn-primary mt-1" type="submit" name="selected_experience" value="Без опыта">-->
        <!--        </form>-->

    </aside>

    <main class="">
        <div class="pt-3 ps-3 mb-3 me-3">
            <form class="d-flex mb-3" role="search" method="get" action="{% url 'vacancies:search' %}">
                {% csrf_token %}
                <input class="form-control rounded-end-0" type="search" name="q" placeholder="Поиск"
                       aria-label="Поиск">
                <button class="btn btn-outline-success rounded-start-0" type="submit">Ok</button>
            </form>
            {% for el in vacancies %}
            <article class="postcard dark blue">
                <a class="postcard__img_link" href="{% url 'vacancies:vac_detail' el.id %}">
                    <img class="postcard__img" src="{{ el.image.url }}" alt="Image Title"/>
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title blue">{{ el.title }}</h1>
                    <div class="postcard__preview-txt">
                        <b>{{ el.salary }} &#8381;</b> <br>
                        {{ el.schedule}} &#183; {{ el.payments }} &#183; {{ el.experience }} <br>
                        {{ el.description|slice:":100"}}
                    </div>
                    <ul class="postcard__tagbox">
                        <a href="{% url 'vacancies:vac_detail' el.id %}" class="btn btn-primary btn-rounded w-25"
                           style="color: #fff;">Подробнее</a>
                    </ul>
                    <br>
                    <div class="postcard__subtitle small">
                        <time datetime="2020-05-25 12:00:00">
                            <i class="fas fa-calendar-alt mr-2"></i>{{ el.date }}
                        </time>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
        {% endblock %}
    </main>

    {% block footer %}
    <footer>
        <div class="row justify-content-center mb-0 pt-5 pb-0 row-2 px-3">
            <div class="col-12">
                <div class="row row-2">
                    <div class="col-sm-3  my-sm-0 mt-5">
                        <ul class="list-unstyled">
                            <li class="mt-0"><a class="nav-link" aria-current="page"
                                                href="{% url 'main:main' %}">Главная</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3  my-sm-0 mt-5">
                        <ul class="list-unstyled">
                            <li class="mt-0"><a class="nav-link" aria-current="page"
                                                href="{% url 'vacancies:vac_list' %}">Вакансии</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3  my-sm-0 mt-5">
                        <ul class="list-unstyled">
                            <li class="mt-0"><a class="nav-link" aria-current="page"
                                                href="{% url 'vacancies:vac_create' %}">Добавить вакансию</a></li>
                        </ul>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="col-sm-3  my-sm-0 mt-5">
                        <ul class="list-unstyled">
                            <li class="mt-0"><a class="nav-link" aria-current="page" href="{% url 'account:account' %}">Профиль</a>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-0 pt-0 row-1 mb-0  px-sm-3 px-2">
            <div class="col-12">
                <div class="row my-4 row-1 no-gutters">
                    <div class="col-sm-3 col-auto text-center"><small>&#9400; by itsk0t 2024</small></div>
                    <div class="col-md-3 col-auto "></div>
                    <div class="col-md-3 col-auto"></div>
                    <div class="col  my-auto text-md-left  text-right "><small> workexplorer@gmail.com <span><img
                            src="https://i.imgur.com/TtB6MDc.png" class="img-fluid " width="25"></span> <span><img
                            src="https://i.imgur.com/N90KDYM.png" class="img-fluid " width="25"></span></small></div>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}
</div>