{% extends 'root.html' %}

{% block title %}Your Account{% endblock %}

<div>
    {% block content %}
    <div class="p-3">
        <div>
            <h2>Ваши заявки</h2>
            <div>
                {% for appli in your_appli %}
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ appli.vacancies_id }}</h5>
                        <p class="card-text">{{ appli.status_id }}</p>
                        <a href="{% url 'appli:appli_delete' appli.id %}" class="btn btn-danger">Отменить</a>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseExample{{appli.id}}" aria-expanded="false"
                                aria-controls="collapseExample">
                            Открыть комментарии
                        </button>
                        <div class="collapse mt-3 custom_card" id="collapseExample{{appli.id}}">
                            <div class="card card-body">
                                {% for com in comments_appli %}
                                <div class="card p-3 m-2">
                                    <p class="card-text">{{ com.user_id }}</p>
                                    <p class="card-text">{{ com.body }}</p>
                                    <p class="card-text"><small class="text-body-secondary">{{ com.date }}</small></p>

                                    <p class="card-text">{{ com.application_id }}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div>

                </div>
                {% endfor %}
            </div>
        </div>

        <hr style="" class="w-100 mt-5 mb-5">

        <div>
            <h2>Ваши вакансии</h2>
            <div>
                {% for vac in your_vac %}
                <article class="postcard dark blue">
                    <a class="postcard__img_link" href="{% url 'account:yor_vacancies_detail' vac.id %}">
                        <img class="postcard__img" src="{{ vac.image.url }}" alt="Image Title"/>
                    </a>
                    <div class="postcard__text">
                        <h1 class="postcard__title blue">{{ vac.title }}</h1>
                        <div class="postcard__preview-txt">
                            <b>{{ vac.salary }} &#8381;</b> <br>
                            {{ vac.schedule}} &#183; {{ vac.payments }} &#183; {{ vac.experience }} <br>
                            {{ vac.description|slice:":100"}}
                        </div>
                        <ul class="postcard__tagbox" style="color: #fff;">
                            <a href="{% url 'account:yor_vacancies_detail' vac.id %}"
                               class="btn btn-primary m-1">Подробнее</a>
                            <a href="{% url 'vacancies:vac_delete' vac.id %}" class="btn btn-danger m-1">Удалить</a>
                            <a href="{% url 'vacancies:vac_update' vac.id %}" class="btn btn-success m-1">Изменить</a>
                        </ul>
                        <br>
                        <div class="postcard__subtitle small">
                            <time datetime="2020-05-25 12:00:00">
                                <i class="fas fa-calendar-alt mr-2"></i>{{ vac.date }}
                            </time>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}


</div>